* {
    margin: 0;
    padding: 0;
    border: none;
    font-size: 1.56vw;
    font-family: "Microsoft YaHei"
}

html,
body {
    height: 100%
}


/* page bg */

.page {
    height: 100%
}

.page > .bg {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
}


/* page1 */

#page1 > .bg{
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
    height: 25%;
    background: url("../img/music_disc.png") no-repeat center center;
    border: 4px solid #ef1639;
}


/* page2 */


/* page3 */


/* page4 */
